html,
body{
	height: 100%;
}
body{
	font-size: 14px;
	margin: 0px;
	text-align: center;
}
.conteiner {
	float: left;
	padding: 0px;
}
header {
	text-align: center;
	background-color:#4682B4;
	color: white;
	border: 1px #444 black;
	padding: 10px 0;
	width: 100%;
}
.navigation {
	background-color: orange;
	padding: 10px 0px; 
	float: left;
	width: 25%;
}
.main {
	background-color: white;
	padding: 10px 0;
	float: left;
	width: 50%;
}
.relatedlinks {
	background-color: #800080;
	padding: 10px 0;
	float: right;
	width: 25%;
}
footer {
	text-align: center;
	background-color: #228B22;
	color: white;
	border: 1px #444 black;
	padding: 10px 0;
	clear: both;
	width: 100%;
}

