* {
  box-sizing: border-box;
}
html {
  height: 100%;
}
body{
  font-size: 14px;
  margin: 0;
  text-align: center;
  display: grid;
  height: 100%;
  grid-template-rows: 1fr;
}
@media screen and (min-width: 1024px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto;
}
}

 main {
  display: grid;
}
header {
  grid-row-end: 1;
  width: 100%;
  background-color: #4682B4;
  color: white;
  border: 1px #444 solid;
  padding: 10px 0;
}
.main {
  background-color: white;
  height: 455px;
}
.navigation {
  margin: 0;
  background-color: orange;
  padding: 10px 0;

}
.relatedlinks {
  margin: 0;
  background-color: #800080;
  padding: 10px 0;

}
footer {
  padding: 10px 0;
  background-color: #228B22;
  color: white;
  border: 1px #444 solid;
  grid-row-start: 2;
  grid-row-end: 3;
}

