html,
body {
	height: 100%;
}

body {
	font-size: 14px;
	color: #000;
	margin: 0;
	display: flex;
	flex-wrap: wrap;
}

#wrapper {
	display: flex;
	flex-wrap: wrap;
	align-content: space-between;
	flex-direction: column;
	overflow-x: hidden;
}

main {
	text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    flex: 1 0 0;
}

header {
	text-align: center;
	padding: 10px 0;
	background-color:#4682B4;
	color: white;
	border: 1px #444 solid;
	width: 100%;
}

footer {
	width: 100%;
	text-align: center;
	padding: 10px 0;
	background-color: #228B22;
	color: white;
	border: 1px #444 solid;
}

.navigation {
	margin: 0;
	background-color: orange;
	padding: 10px 0;
	width: 25%;
}

.main {
	background-color: white;
	width: 50%;
	margin: 0;
}

.relatedlinks {
	background-color: #800080;
	padding: 10px 0;
	width: 25%;
	margin: 0;
}

 @media screen and (max-width:  1024px) {
 	main {
 		flex-direction: column;
 	}

 	.main {
 		flex: 1 0 0;
 		width: 100%;
 	}

 	.navigation {
 		width: 100%;
 	}

 	.relatedlinks {
 		width: 100%;
 	}
 }